{% extends 'base.html' %} 
{% load static %} 
{% load filtros_personalizados %}

{% block title %}
    Dashboard Administrador
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="m-0">Bienvenido, {{ request.user.perfil.nombre }}</h2>
    <button id="btn-descargar" class="btn btn-primary">Descargar como PDF</button>
  </div>

  <hr />

  <div id="reporte-pdf">
    <div class="container-fluid my-4">
      <div class="row g-4">
        <div class="col-12 col-lg-6">
          <div
            id="vendedor"
            data-pendientes="{{ pedidos_pendientes }}"
            data-despachados="{{ pedidos_despachados }}"
            style="height: 400px"
          ></div>
        </div>
        <div class="col-12 col-lg-6">
          <div
            id="pedidos"
            data-en-preparacion="{{ pedidos_preparacion }}"
            data-listos="{{ pedidos_listos }}"
            style="height: 400px"
          ></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div
        id="ventas"
        data-before="{{ money_two_days_ago }}"
        data-yesterday="{{ money_yesterday }}"
        data-today="{{ money_today }}"
        style="height: 400px"
      ></div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestionar usuarios</h5>
          <p class="card-text">Ver todos los usuarios.</p>
          <a href="{% url 'gestion_usuarios' %}" class="btn btn-primary">Ver usuarios</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestionar productos</h5>
          <p class="card-text">Ver todos los productos disponibles.</p>
          <a href="{% url 'gestion_productos' %}" class="btn btn-warning">Ver productos</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestionar categorías</h5>
          <p class="card-text">Ver y editar categorías de productos.</p>
          <a href="{% url 'gestion_categorias' %}" class="btn btn-success">Ver categorías</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
