{% extends 'base.html' %}
{% load static %}
{% load filtros_personalizados %}

{% block title %}
    Dashboard Administrador
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2>Bienvenido, {{ request.user.perfil.nombre }} </h2>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Gestionar usuarios</h5>
                    <p class="card-text">Ver todos los usuarios.</p>
                    <a href="{% url 'gestion_usuarios' %}" class="btn btn-primary">Ver usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Gestionar productos</h5>
                    <p class="card-text">Ver todos los productos disponibles.</p>
                    <a href="#" class="btn btn-warning">Ver productos</a>
                </div>
            </div>
        </div>

        
    </div>
</div>
{% endblock %}
