{% extends 'base.html' %}
{% load static %}
{% load filtros_personalizados %}

{% block title %}
    Dashboard Contador
{% endblock %}

{% block content %}
<div class="container mt-5">

    <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="m-0">Bienvenido, {{ request.user.perfil.nombre|default:request.user.email }}</h2>

        <button id="btn-descargar"
            class="btn btn-primary">
            Descargar como PDF
        </button>
    </div>

    <hr>

    
    <div id="reporte-pdf">
        <div class="container-fluid my-4">
                <div
                    id="ventas"
                    data-before="{{ money_two_days_ago }}"
                    data-yesterday="{{ money_yesterday }}"
                    data-today="{{ money_today }}"
                    style="height: 400px"
                ></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Pagos Registrados</h5>
                    <p class="card-text">Revisa y administra todos los pagos realizados.</p>
                    <a href="{% url 'listar_pagos' %}" class="btn btn-primary">Ver pagos</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Reportes Financieros</h5>
                    <p class="card-text">Próximamente podrás generar reportes detallados.</p>
                    <a href="#" class="btn btn-secondary disabled">Ir a reportes</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
