{% extends 'base.html' %}
{% load static %}
{% load filtros_personalizados %}

{% block title %}
    Dashboard Bodeguero
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="m-0">Bienvenido, {{ request.user.perfil.nombre }}</h2>

        <button id="btn-descargar"
            class="btn btn-primary">
            Descargar como PDF
        </button>
    </div>
    <hr>

    <div id="reporte-pdf">
        <div class="container-fluid">
            <div
                id="pedidos"
                data-en-preparacion="{{ pedidos_preparacion }}"
                data-listos="{{ pedidos_listos }}"
                style="height: 400px;">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Pedidos en preparación</h5>
                    <p class="card-text">Revisa y acepta los pedidos pendientes de preparación.</p>
                    <a href="{% url 'pedidos_pendientes' %}" class="btn btn-warning">Ver pedidos</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Pedidos listos para despacho</h5>
                    <p class="card-text">Entrega los pedidos listos al vendedor correspondiente.</p>
                    <a href="{% url 'pedidos_preparados' %}" class="btn btn-success">Gestionar entregas</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
