{% extends 'base.html' %}
{% load filtros_personalizados %}

{% block content %}
<h2>Detalle del Pedido #{{ pedido.id }}</h2>

<p><strong>Cliente:</strong> {{ pedido.cliente.email }}</p>
<p><strong>Fecha:</strong> {{ pedido.fecha }}</p>
<p><strong>Estado actual:</strong> {{ pedido.estado.nombre }}</p>

<!-- Lista de productos del pedido -->
<table>
  <tr><th>Producto</th><th>Cantidad</th></tr>
  {% for item in pedido.detallepedido_set.all %}
  <tr>
    <td>{{ item.producto.nombre }}</td>
    <td>{{ item.cantidad }}</td>
  </tr>
  {% endfor %}
</table>

<!-- Botón para cambiar estado -->

{% if pedido.estado.id == 3 %}
  <form method="post">
    {% csrf_token %}
    <button name="accion" value="listo">Marcar como listo para despacho</button>
  </form>
{% endif %}

<p><a href="{% url 'pedidos_pendientes' %}">Volver a la lista</a></p>


{% endblock %}