{% extends 'base.html' %}
{% load static %}
{% load filtros_personalizados %}

{% block title %}
    Dashboard Vendedor
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2>Bienvenido, {{ request.user.perfil.nombre }} </h2>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Productos en bodega</h5>
                    <p class="card-text">Ver todos los productos disponibles.</p>
                    <a href="{% url 'productos_disponibles' %}" class="btn btn-primary">Ver productos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Pedidos por aprobar</h5>
                    <p class="card-text">Revisa y aprueba los pedidos pendientes.</p>
                    <a href="{% url 'pedidos_por_aprobar' %}" class="btn btn-primary">Aprobar pedidos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">Despachos</h5>
                    <p class="card-text">Organiza y marca pedidos como despachados.</p>
                    <a href="{% url 'pedidos_despacho' %}" class="btn btn-primary">Gestionar despachos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
