{% extends 'base.html' %}
{% block content %}
<h2>Pedidos listos para despacho</h2>
<table>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Estado</th>
      <th>Acción</th>
    </tr>
    {% for pedido in pedidos %}
    <tr>
      <td>{{ pedido.id }}</td>
      <td>
        <ul>
          {% for detalle in pedido.detallepedido_set.all %}
          <li>{{ detalle.producto.nombre }} - {{ detalle.cantidad }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ pedido.estado.nombre }}</td>
      <td>
        {% if pedido.estado.nombre == "Listo para despacho" %}
        <form action="{% url 'despachar_pedido' pedido.id %}" method="post">
          {% csrf_token %}
          <button type="submit">Despachar</button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  
{% endblock %}
