{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2>Confirmar Pedido</h2>
  <div class="card p-4 shadow">
    <ul class="list-group mb-3">
      {% for item in items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ item.producto.nombre }} (x{{ item.cantidad }})
          <span>${{ item.producto.precio|floatformat:0 }}</span>
        </li>
      {% endfor %}
    </ul>
    <h5 class="text-end">Total: <strong>${{ total|floatformat:0 }}</strong></h5>

    <a href="{% url 'elegir_metodo_pago' %}" class="btn btn-primary w-100 mt-3">
        Elegir método de pago
    </a>
  </div>
</div>
{% endblock %}
