{% extends "base.html" %}
{% load filtros_personalizados %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-md-6">
            <h2>{{ producto.nombre }}</h2>
            <p class="text-muted">{{ producto.descripcion }}</p>
            <h4 class="text-success">${{ producto.precio_venta|formatear_pesos }}</h4>

            <form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" id="cantidad" class="form-control w-25" value="1" min="1">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Agregar al carrito</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
